<div class="outer">
    <div class="middle">
        <p>Introducing Gah-Young</p>
        <p></p>
        <div class="inner">
            <p>안녕하세요 :)<br>멋쟁이 사자처럼 6기<br>성균관대학교 서가영입니다!</p>
            <%= button_to "More", blog_info_path, :class => "button", :id => "info", :method => :get %>
            <%= button_to "Facebook", "https://www.facebook.com/sarahseoh?ref=bookmarks", :class => "button", :id => "fb", :method => :get %>
            <%= button_to "Instagram", "https://www.instagram.com/sarahseoh/?hl=ko", :class => "button", :id => "insta", :method => :get %>
        </div>
    </div>
</div>
