<h1 class="more">More about Gah-Young</h1>
<a class="info" href="https://www.facebook.com/photo.php?fbid=1634168513308641&set=a.111139385611569.11239.100001465235837&type=3&theater">서가영</a>
<ul class="about">

    <li>1998.05.07 출생</li>
    <li>여자</li>
    <li>과천 통학중</li>
    <li>프로그래밍 잘하고 싶음</li>
    <li>어떻게 생겼는지 궁금하면 이름 클릭</li>
    
</ul>

<h2 class="info">성균관대학교 소속</h2>
<ul class="about">
    <li>경영학과 17학번</li>
    <li>배드민턴 동아리 라켓챌린지 부회장</li>
    <li>멋쟁이 사자처럼 6기</li>
</ul>

<h2 class="info">취미</h2>
<ul class="about">
    <li>배드민턴</li>
    <li>사진 찍기(잘 안보이겠지만 배경도 별사진 찍은거...☞☜) </li>
    <li>오버워치 하기/보기</li>
</ul>